.container {
  color: #333;
  height: 100dvh;
  overflow-y: scroll;
  cursor: pointer;

  table {
    width: 100%;
    font-size: 14px;
    border-collapse: separate;
    border-spacing: 5px;

    thead {
      background-color: #f8f9fa;
      tr {
        th {
          padding: 10px 15px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f8f9fa;
        }

        &:hover {
          background-color: #e9ecef;
        }

        td {
          padding: 10px 15px;
          text-align: right;
          min-width: 80px;
          font-variant-numeric: tabular-nums; /* 숫자 간격 고정 */
          background-color: white;
          border: 2px solid transparent;
          border-radius: 4px;

          &.positive {
            color: red;
          }

          &.negative {
            color: blue;
          }

          &:first-child {
            text-align: center;
          }

          &.valueBox {
            padding: 5px;
          }

          &.increased {
            border-color: #ff6b6b;
          }

          &.decreased {
            border-color: #007bff;
          }
        }
      }
    }
  }
}
